/* import by . */
/*page title*/
.page-title{
	padding:15px 0 10px 0;
	position:relative
	}
.page-title .photo-title{
	background:transparent url(http://a.xnimg.cn/n/apps/photo/res/icon.gif) no-repeat  0 center;
	padding-left:24px;
	padding-top:3px;
	font-size:14px;
	font-weight:bold;
	float:left;
	margin-right:14px
}
.page-title .nav-tabs li{
	float:left;
	margin:0 10px;
	height:22px;
	line-height:22px;
	color:#666}
.page-title .nav-tabs .pipe,
.page-title .nav-tabs .angleright{
	margin:0;
	font-weight:lighter;
	color:#CCC;
}
.page-title .nav-tabs .angleright{
	background:url(http://a.xnimg.cn/imgpro/album/album-icons.png?ver=84) no-repeat -48px -102px;
	width:5px;
	height:9px;
	padding-top:6px;
	}
.page-title  .return-index{
	position:absolute;
	right:0;
	height:26px;
	line-height:26px
}


/** photo sizes **/
.size-title{
	padding-top:5px;
}
.size-tabs{
	border-top:1px solid #DDD;
	margin-bottom:10px;
}
.size-tabs li{
	float:left;
	width:120px;
	padding:10px 20px
}
.size-tabs li.select{
	background:#F8F8F8;
}
.size-tabs li.select:hover{
	background:#F8F8F8;
}
.size-tabs li.select a{
	color:#333!important;
	cursor:default;
}
.size-tabs li.select a:hover{
	text-decoration:none;
}
.size-tabs li:hover{
	background:#E3EEF9;
}
.size-tabs li a{
	display:block;
	font-size:14px;
}
.size-tabs li span{
	color:#AAA
}
.size-tabs li strong{
	font-weight:normal;
	color:#AAA
}
.photoes-box{
	margin-bottom:20px;
}
.mini-box{
	height:260px;
}
.photoes-box a{
	font-size:14px;
	font-weight:bold;
}
.photoes-box .photo{
	display:block;
	margin-bottom:10px;
}
.url-box{
	background:#F8F8F8;
	padding:10px;
	font-size:14px;
}
.url-box h4{
	font-weight:normal;
	font-size:14px;
	color:#AAA;
	padding-bottom:10px
}
.url-box p{margin-bottom:10px;}
.url-box span{
	display:inline-block;
	text-align:right;
	width:4em;
	margin-right:5px;
}
.url-box .url-txt{
	border:1px solid #A0BEDC;
	width:300px;
	line-height:20px;
	height:20px;
	margin-right:5px;
}
.url-box .url-copybtn{
	background: url(http://a.xnimg.cn/imgpro/button/btn-bg.png) repeat-x;
    border: 1px solid #8B8B8B;
	padding:0 15px;
	*padding:0 7px;
	height:23px;
	line-height:23px;
	cursor:pointer;
	}
.full-page{_overflow-x:auto;}

